<li class="total-box card-body bg-beige rounded m-2">
  <h4 class=" text-center">${input.title}:</h4>
  <p class="card-text text-center fs-3">$${input.value}</p>
</li>

<style>
  .total-box {
    width: 200px;
  }
  .bg-beige {
    background-color: #fdeae0;
  }
</style>